#main {
    height: 1fr;
}

Table {
    width: 1fr;
}

SidePanel {
    width: 45;
    border: round white;
    padding: 1;
}

SidePanel.-hidden {
    hatch: right white 30%;
}

CommunityCards {
    height: 1fr;
    align: center middle;
    border: round white;
}

#bottom {
    height: 1fr;
}

PlayerHand {
    align: center middle;
    border: round white;
    width: 30;
}

AnswerPanel {
    border: round white;
    padding: 1;
}

AnswerPanel Label {
    margin-bottom: 1;
}

#odds-against {
    margin-left: 1;
}

#outs {
    margin-left: 9;
}

AnswerPanel Input {
    width: 15;
}

AnswerPanel Button {
}

PlayingCard {
    margin-left: 1;
}

PlayingCard:first-of-type {
    margin-left: 0;
}
