#main {
    height: 1fr;
}

#table {
    width: 1fr;
}

#side-panel {
    width: 30;
    border: round white;
}

#community-cards {
    height: 1fr;
    align: center middle;
    border: round white;
}

#hand {
    height: auto;
    align: center middle;
    border: round white;
}

PlayingCard {
    margin-left: 1;
}

PlayingCard:first-of-type {
    margin-left: 0;
}
