#main {
    height: 1fr;
}

Screen {
    align: center middle;
}

#readme {
    padding: 3;
    max-width: 100;
}

Table {
    width: 1fr;
}

SidePanel {
    width: 45;
    border: round white;
    overflow-y: auto;
}

SidePanel.-details-hidden {
    hatch: right $foreground 15%;
}

CommunityCards {
    height: 1fr;
    align: center middle;
    border: round white;
    padding: 1;
}

#bottom {
    height: 1fr;
}

PlayerHand {
    width: 29;
    align: center middle;
    border: round white;
    padding: 1;
}

AnswerPanel {
    width: 1fr;
    align: center middle;
    border: round white;
    padding: 1;
}

AnswerPanel HorizontalGroup {
    align: center middle;
    width: 1fr;
    margin-bottom: 1;
}

AnswerPanel .answer-label {
    width: 14;
}

AnswerPanel .answer-result {
    width: 1fr;
    margin-left: 1;
}

AnswerPanel Input {
    width: 15;
}

AnswerPanel Button {
    width: 29;
    margin-left: 14;
}

PlayingCard {
    margin-left: 1;
}

PlayingCard:first-of-type {
    margin-left: 0;
}
